@font-face {
    src: url("../fonts/BitcountPropSingleInk-VariableFont_CRSV,ELSH,ELXP,SZP1,SZP2,XPN1,XPN2,YPN1,YPN2,slnt,wght.ttf");
}
.root {
    -fx-font-family: "Bitcount Prop Single Ink";

}

.menu{
    -fx-background-color: #241B2E;
    -fx-spacing: 15px;
}

.menu Text{
    -fx-fill: #FFF2AF;
    -fx-font-size: 40px;
}
.menu Button{
    -fx-background-color: #493D9E;
    -fx-text-fill: #FFF2AF;
    -fx-font-size: 22px;
    -fx-pref-width: 300;
}

.form-player{
    -fx-background-color: #241B2E;
    -fx-padding: 10px;
    -fx-spacing: 15px;
}

.form-player HBox{
    -fx-spacing: 15px;
    -fx-pref-height: 40px;
}


.form-player Text{
    -fx-fill: #FFF2AF;
    -fx-font-size: 22px;
}

.form-player .title{
    -fx-font-size: 26px;
}

.form-player Button{
    -fx-background-color: #493D9E;
    -fx-text-fill: #FFF2AF;
    -fx-font-size: 22px;
    -fx-pref-width: 250;
}

.form-player ToggleButton{
    -fx-pref-height: 150;
    -fx-pref-width: 150;
    -fx-background-color: #493D9E;
    -fx-text-fill: #FFF2AF;
    -fx-font-size: 16px;
}

.form-player ToggleButton:selected{
    -fx-border-color: #FFF2AF;
}